test.asm
test.exe
test.obj
build_test.bat
compiler/notes.txt
compiler/default.debugtarget
test.syd

# build products
*.ilk
*.pdb
mllink$.lnk
syd.obj
.packages
.dart_tool
profile.txt
error-dump.txt
compiler/syd.asm
compiler/syd.exe
