test.*
build_test.bat
compiler/notes.txt
compiler/default.debugtarget
build/
*.ilk
*.pdb
mllink$.lnk
.packages
.dart_tool
profile.txt
error-dump.txt
*.syd.asm
*.syd.ll
*.syd.exe
*.syd.obj
compiler/temp.syd
main.exe
*.$$$
coverage/lcov.info
lib/syd-main.exe
lib/transpiler-output.dart
compiler/compiler.exe
compiler/compiler1.exe
compiler/compiler2.exe
local_notes/*