test.asm
test.exe
test.obj
build_test.bat
compiler/notes.txt
compiler/default.debugtarget
test.syd

# build products
*.ilk
*.pdb
mllink$.lnk
.packages
.dart_tool
profile.txt
error-dump.txt
*.syd.asm
*.syd.exe
*.syd.obj
compiler/temp.syd
main.exe
*.$$$
test.dart
